
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
}
nav {
    background-color: #333;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }
  
  nav ul li a {
    display: block;
    padding: 0 20px;
    line-height: 50px;
    color: #fff;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    background-color: #555;
    color: aquamarine;
  }
  .social-media {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .social-media a {
    display: inline-block;
    margin: 0 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: black;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #fff;
    transition: all 0.3s ease;
  }
  
  .social-media a:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }
  
  .social-media a i {
    vertical-align: middle;
  }
  
  .main{
    background-image: url('./image/photo-1631631480669-535cc43f2327.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .about{
        max-width: 800px;
      margin: 0 auto;
      text-align: center;
      color: white;
      padding: 45px;
      margin: 0 20px;
  }
  .about p{
    font-size: 20px;
    font-weight: bold;
    padding: 45px;
  }